  body {
    margin: 0;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/5eab1b22-c5ea-48b0-8ef4-862b3fa6df2c/4af43238-4df9-4946-9920-a4bd55f2e50b/IN-en-20230724-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    padding: 0;
  }
  #netflix_image {
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  #top {
    height: 20%;
    display: flex;
    /* border: 1px solid #ccc; */
  }
  #alpha {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    /* border: 1px solid white; */
  }
  #signin {
 
    background: red;
    padding: 8px 14px;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  #button {
    padding: 30px;
    width: 60%;
    text-align: right;
  }
  
  h1 {
    font-size: 55px;
    margin: 0;
  }
  p {
    margin: 13px;
    font-weight: 400;
  }
  #p1 {
    font-size: 28px;
  }
  #p2 {
    font-size: 23px;
  } 
  #mid {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    /* border: 1px solid brown */
  }
  
 